
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navMain">
    
    <div class="container">
            <div class="container-fluid">
                    <div class="row">
                        <div class="nav-search">
                            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                                <input class="form-control my-2 my-sm-0 search-input" name="search" type="search" placeholder="Search posts" aria-label="Search">
                            </form>
                        </div>
                    </div>
                </div>
        <a class="smooth-scroll" href="/"><i class="fas fa-award fa-2x"></i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a href="/"><p style="font-size: 30px; margin-right: 500px;
        ">Awwaards.</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav" href="{% url 'profile' username=user %}">{{user}}</a><br>
                </li>
            </ul>
        </div>
    </div>
</nav>